
/* 
 * ===============================
 * common-custom.css
 * ===============================
 */

/* Hide banner that encourages the use of MCP */
.test-banner-element:has(.test-mcp-connect-banner-text) {
  display: none;
}

/* Hide elements at the right of the Grist logo (which alerts about the use of the community edition) */
.test-version-footer > div:not(:empty) {
  display: none;
}
/*
 * Hide elements in the version popup after the divider (selected by `div:empty`) and everything that follows (hence the `~ div`)
 * HACK: The use of div:empty is not clean…
 *
 * The use of nested properties are widely available now, let’s use it.
 * https://caniuse.com/css-nesting
 */
.test-version-footer-popup > div:empty {
  &, ~ div {
    display: none;
  }
}

/* Remove the warning background theme of the version footer */
.test-version-footer {
  background-color: inherit !important;
  border-top-color: var(--grist-theme-page-panels-border) !important;
}
